* {
	box-sizing: border-box;
}

body {
	background: #ececec;
	font-family: 'Muli', sans-serif;
	overflow-y: scroll;
	color: #383838;
}

.listItem {
	width: 50%;
	background: #fff;
	padding: 15px;
	margin-bottom: 10px;
	margin: 5px;
	box-shadow: 0px 1px 2px 1px #e1e1e1;
	text-align: center;
}

